.main {
  background: yellow;
  width : 100%;
  display: flex;
  justify-content: space-between;
}
.left{
  background: pink;
  width: 20%;
  /* text-align: center; */
}
.left1 img{
  width: 35%;
}
.right
{
  background: orange;
  width: 79%;
}
@media only screen and (min-device-width:450px) and (max-device-width:780px) {
  .main{
    width: 100%;
    flex: wrap;
    /* display: flex; */
  }
  .left{
    width : 100%;
  }
  .left1{
    width: 100%;
    /* flex: wrap; */
  }
  .details{
    display: flex;
    justify-content: space-between;
  }
  .right{
    background: lightblue;
    width: 100%;
  }
  @media only screen amd (min-device-width:350px) and (max-device-width:460px) {
    .main{
      width: 100%;
    }
    .left{
      width: 100%;
      display: flex;
    }
    .right{
      width: 100%;
    }

  }
}
